h1{
    margin-top: 15PX;
    margin-left: 45PX;
}
h1{
    font-family: 'Chivo Mono', monospace;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
}
.btn{
background-color: blue;
 }